* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2c29;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.logo {
  width: 70%;
  height: 70%;
  object-fit: cover;
  display: block;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #153e3a;
}

.footer {
  background-color: #0f2c29;
  color: #99b8b5;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-section h3,
.footer-section h4 {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 4px 0;
  color: #99b8b5;
}

.social-icons a {
  font-size: 20px;
}

.footer-bottom {
  background-color: #153e3a;
  text-align: center;
  padding: 10px 0;
  margin-top: 25px;
}
