
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f2c29;
  width: 100%;
  height: 180px;
  overflow: hidden;
}


.logo {
  width: 70%;
  height: 70%;
  object-fit: cover;
  display: block;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #153e3a;
}
