* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2c29;
  width: 100%;
  /* height: 180px; */
  /* overflow: hidden; */
}

.logo {
  width: 70%;

  height: 70%;

  object-fit: cover;
  display: block;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #153e3a;
}
.btn-minus {
  background-color: #1e7d6b;
  border: none;
  color: black;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
}
.btn-minus:hover {
  background-color: #0f2c29;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.btn-plus {
  background-color: #1e7d6b;
  border: none;
  color: black;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
}
.btn-plus:hover {
  background-color: #0f2c29;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
