* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2c29;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.logo {
  width: 70%;
  height: 70%;
  object-fit: cover;
  display: block;
}
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #153e3a;
}
.buttons {
  display: flex;
  justify-content: center; /* выравнивает кнопки по центру */
  gap: 20px; /* расстояние между кнопками */
  margin-top: 5px;
  padding: 10px;
}

button {
  width: 100px;         /* ← длина кнопки */
  height: 20px;         /* ← высота кнопки */
  font-size: 18px;      /* размер текста */
  border-radius: 10px;  /* скруглённые углы (по желанию) */
  background-color: #3e5b3f; /* цвет кнопки */
  color: rgb(26, 24, 24);
  border: none;
  }

button:hover {
  background-color: #45a049; /* эффект при наведении */
}

